html{
  scroll-behavior: smooth;
}
body{
    margin: 0 auto;
    font-family: variables.$main-font;
    font-size: 18px;
    line-height: 30px;
    box-sizing: border-box;  
    background-color: #f9fafa;
    color: #20303c;
  }
.main{
      width: 100%;
      max-width: 1773px; 
      margin: 0 auto;
  }
h1{
    font-size: 36px; 
    font-family:variables.$title-font ;
}
h3{
  font-family: variables.$secondary-font;
}


