html{
  scroll-behavior: smooth;
  /*overflow-y: scroll; 
  overflow-x: hidden;*/
}
body{
    margin: 0 auto;
    font-family: variables.$main-font;
    font-size: 18px;
    line-height: 30px;
    box-sizing: border-box;  
    background-color: #f9fafa;
    color: #20303c;
  }
.main{
      width: 100%;
      max-width: 1773px; 
      margin: 0 auto;
  }
h1{
    font-size: 36px; 
    font-family:variables.$title-font ;
    text-align: center;
    letter-spacing: 0.2em;
    border-bottom: #DFE9FB solid;
    height: 40px;
}
h3{
  font-family: variables.$secondary-font;
}
button{
  background-color: #C0D4F8;
  width: 250px;
  height: 46px;
  cursor: pointer;
  border: #9CBBF4;
  border-radius: 5px;
  box-shadow: 0 10px 20px #9CBBF4;
  margin-top: 10px;
}
button:hover{
  background-color: #83AAF1;
  border: solid #9CBBF4;
}
button:active{
  background-color: #6393ec;
  box-shadow: 2px 2px 5px #649aff;
}
a{
  text-decoration: none;
  color: #043149;
  font-weight: 500;
  font-family: variables.$secondary-font;
  font-size: 16px;
}



