.sec-cont{
    width: 100%;
    max-width: 1600px;
    min-height: 600px;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: solid white;
    border-right: solid white;

    &__box{
        width: 1400px;
        min-height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__form{
        width: 900px;
        height: 550px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
}
.sec-cont__name{
    width: 850px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.input-field-n{
    border: none;
    border-bottom: solid #9cbbf4;
    width: 300px;
    background-color: #f9fafa;
}
.input-field-n:focus, .input-field:focus, .textarea{
    border: none;
    outline: none;
    border-bottom:solid #405F98;
}
.input-field-n:hover{
    border:none;
    border-bottom:solid #405F98;
}
.input-field{
    border: none;
    border-bottom: solid #9cbbf4;
    background-color: #f9fafa;
    width: 848px;
    margin-top: 10px;
    margin-bottom: 16px;
}
label{
    font-weight: 540;
}
.textarea{
    width:848px ;
    border: solid #9cbbf4;
    resize: none;
}
