.header{
    width: 100%;
    max-width: 1600px;
    height: 125px;
    margin: 0 auto;
    outline: blue solid;

    &__wrapper{
        width: 100%;
        max-width: 1600px;
        min-height: 120px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__box{
        width: 100%;
        max-width: 500px;
        margin-left: 20px;
        font-size: 23px;
        display: flex;
        align-self: center;
    }
}
.nav{
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    &__list{
        width: 100%;
        max-width: 520px;
        list-style-type: none;
        display: flex;
        flex: row;
        justify-content: space-evenly;
        text-transform: uppercase;
    }
}
