.header{
    width: 100%;
    max-width: 1600px;
    height: 90px;
    margin: 0 auto;

    &__wrapper{
        width: 100%;
        max-width: 1600px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__box{
        width: 100%;
        max-width: 500px;
        margin-left: 20px;
        font-size: 23px;
        display: flex;
        align-self: center;
    }
}
.nav{
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    &__list{
        width: 100%;
        max-width: 520px;
        list-style-type: none;
        display: flex;
        flex: row;
        justify-content: space-evenly;
        text-transform: uppercase;
    }
    &__link{
        text-decoration: none;
        color: black;
    }
    &__link:hover{
        color: #6495ED;
    }
}
