.sec-res{
    max-width: 1600px;
    min-height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    outline: blue solid;

    &__title{
            text-align: center;
            letter-spacing: 0.2em;
        } 
    &__box{
        outline: green solid;
        display: flex;
        justify-content: space-evenly;
    }
    &__box li{
        list-style-image: url(../images/circle-solid.svg);
    }
    
}
.sec-res__box li::marker{
    color: #B0C9F6;
}
.sec-res__ed{
    outline: solid yellow;
    
}
.sec-res__wo{
    outline: purple solid;
}
.sec-res__sk{
    outline: aquamarine solid;

}
