.sec-res{
    max-width: 1600px;
    min-height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-left: solid white;
    border-right: solid white;

    &__box{
        display: flex;
        justify-content: space-evenly;
    }
    &__box li{
        list-style-image: url(../images/circle-solid.svg);
    }
    
}
.sec-res p{
    line-height: 16px;
    font-size: 16px;
    text-indent: 20px;
    color: rgb(102, 99, 99);
    
}

