.sec-wo{
    max-width: 1600px;
    min-height: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 5px;

    &__box{
        max-width: 1550px;
        display: flex;
        flex: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__container{
        width: 100%;
        min-height: 300px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
    }
}
.sec-grid{
    max-width: 400px;
    min-height: 600px;
    padding: 15px;
    margin: 0 auto;
    background-color:  #eff0f3;
    outline: variables.$theme-color solid ;
    border-radius: 3px;
    box-shadow: 0 10px 20px variables.$theme-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.sec-grid p{
   

}
.sec-wo__img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.q{
    padding: 10px;
    margin-top: 5px;
}