body {
  margin: 0 auto;
  font-family: "Arial";
  font-size: 18px;
  line-height: 30px;
  box-sizing: border-box;
  background-color: #f9fafa;
  color: #20303c;
}

.main {
  width: 100%;
  max-width: 1773px;
}

h1 {
  font-size: 36px;
  font-family: "Josefin Sans", sans-serif;
}

h3 {
  font-family: "Aleo", serif;
}

.header {
  width: 100%;
  max-width: 1600px;
  height: 150px;
  margin: 0 auto;
}
.header__wrapper {
  width: 100%;
  max-width: 1600px;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid blue;
}
.header__box {
  width: 100%;
  max-width: 500px;
  margin-left: 20px;
  font-size: 30px;
  display: flex;
  align-self: end;
}

.nav {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: end;
}
.nav__list {
  width: 100%;
  max-width: 520px;
  list-style-type: none;
  display: flex;
  flex: row;
  justify-content: space-evenly;
  font-size: 20px;
  text-transform: uppercase;
}

.sec-bio {
  background: linear-gradient(to right, #B0C9F6 0%, #B0C9F6 40%, rgb(255, 255, 255) 40%, white 100%);
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-bio__box {
  height: 500px;
  display: flex;
}
.sec-bio__prof {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #CDDDF9;
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
.sec-bio__text {
  width: 500px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  overflow: hidden;
  border-radius: 50%;
  height: 280px;
}

.profile-soc {
  background-color: white;
  width: 420px;
  height: 45px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-li {
  list-style-type: none;
  margin-top: 8px;
}

.bio-jt {
  letter-spacing: 2px;
  font-weight: 500;
}

.fa-brands {
  font-size: 28px;
}

.soc {
  text-decoration: none;
  color: black;
}

.soc:hover {
  color: blue;
}

.sec-res {
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  outline: blue solid;
}
.sec-res__box {
  outline: green solid;
  display: flex;
  justify-content: space-evenly;
}
.sec-res__ed {
  outline: solid yellow;
}
.sec-res__wo {
  outline: purple solid;
}
.sec-res__sk {
  outline: aquamarine solid;
}

.res-title {
  text-align: center;
  letter-spacing: 0.2em;
}